<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.si410702.java.zakatyuk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo_color"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UpdateUserAccount"
            android:parentActivityName=".HomeUserActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeUserActivity" />
        </activity>
        <activity android:name=".AlokasiZakatDetail" />
        <activity android:name=".AlokasiZakatOption" />
        <activity android:name=".AlokasiZakatBerhasil" />
        <activity
            android:name=".AlokasiZakatMenu"
            android:parentActivityName=".HomeLembagaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeLembagaActivity" />
        </activity>
        <activity android:name=".HitungZakatBayar"></activity>
        <activity android:name=".HitungZakatHasil" />
        <activity android:name=".TrackingActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BayarZakatNota" />
        <activity android:name=".BayarZakatLoading" />
        <activity android:name=".BayarZakatStruk" />
        <activity android:name=".BayarZakatOption" />
        <activity android:name=".BayarZakatIntro" />
        <activity android:name=".TopUpBuktiActivity" />
        <activity android:name=".TopUpKonfirmasiActivity" />
        <activity android:name=".TopUpInputDataActivity" />
        <activity android:name=".TopUpPilihActivity" />
        <activity android:name=".TopUpSaldoActivity" />
        <activity android:name=".InfoZakatActivity"/>
        <activity android:name=".HitungActivity"/>
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".HomeUserActivity" />
        <activity android:name=".HomeLembagaActivity" />
        <activity
            android:name=".PraLoginActivity"
            android:theme="@style/Theme.Intro" />
    </application>

</manifest>